/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2018, 3:28:49 PM
    Author     : student
*/

p{font-size:10px !important;}
.paragraf{font-size:20px;}
#para{font-size:30px;}
DIV p{color:black;}
DIV>p{color:black;}
p+p{color:black;}
p~p{color:black;}


p[class]{color:red;}
p[class="para1"]{color:blue;}


li:first-child{color:red;}
a:hover{color:red;}
p::first-letter{font-size:20px}
p::first-line{text-decoration:underline;}



p.test::before{content:"PRZED";}
p.test::after{content:"PO";}
